# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/Genshin Companion.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
genshin-companion-deffd-firebase-adminsdk-v9nuh-b1c2b884d2.json
venv/
